$font: "Open Sans" !default;

$headerLabel: #68aecc;

//colors
//background blues
$blue-skyblue:#DCEBF3;
$blue-lightest:#aec5d1;
$blue-lighter:#5599b1;
$blue-light:#256984;
$blue-dark:#1e566d;
$blue-darker:#113d4e;

// blue accents
$blue-baby: #AAD1E5;
$blue-washed:#68AECC;
$blue-gray:#6497B2;
$blue-torqouis:#067B9C;
// #DCEBF3
$red-alert:#D0021B;
$gray-dark:#3A3A3A;
// link colos

$linkcolor: $blue-torqouis;


$blue-highlight-bg:#AAD1E5;

$buttonBG: #287C96;

$garBG: $blue-lightest;
$garBGLight: $blue-lighter;

$pageBackground: $blue-lightest;

$label-gray:$gray-dark;
$boxBorder: #88b0c0;
$red: #D0021B !default;
$icon-color:$blue-light;


