@import "create-opty.min.css";
.carousel-card {
    position: relative;
    float: none;
    margin: 0 auto;
    margin-bottom: 21px;
    text-align: left;
    height: 130px;
    width: 200px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    box-shadow: -3px 2px 2px 2px rgba(0, 0, 0, 0.175)
}
.carousel-card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #fff #68a2b9;
    box-shadow: -2px 1px 2px 0 rgba(0, 0, 0, 0.15), -2px 3px 2px 0 rgba(0, 0, 0, 0.15)
}
.icon {
    position: absolute;
    top: 10px;
    left: -12px;
    background-color: #fb6602;
    height: 40px;
    width: 40px
}
.icon.blue {
    background-color: #00a5dd
}
.icon::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    border-width: 0 12px 12px 0;
    border-style: solid;
    border-color: transparent #383838
}

.icon-edit {
    cursor: pointer;
    color: #067b9c;
    margin: 0 5px;    
    font-size:20px;
}

.icon-edit:hover {
    transition: color .3s ease;
    color: #12c4f6
}

.container
{   
    max-width: 1170px !important;
}
.col-md-7{
    width: 58.333333333% !important;
    float: left !important;
}
.col-md-5{
    width: 41.666667% !important;
    float: left !important;
}
.icon-GSDeventalert {    
    font-size: 20px;    
    width: 30px;
}
.card-content {
    padding-top: 10px;
    margin-left: 35px
}
.RGMainDiv h3 {
    padding: 5px;
    background-color: #e2e2e2;
    margin: 5px 0
}
.RGMainDiv h3 span:first-child {
    display: inline-flex;
}
.RGMainDiv h3 span:nth-child(2) {
    font-size: 16px;
    display: inline-flex;
    text-align: right;
    vertical-align: middle;
    margin-left: 30px;
} 
.RGMainDiv span {
    margin:5px 0 5px;
}

.red-alert-circle {
    display: inline-block;
    font-size: 31px;
    color: #f00;
    font-weight: 700;
    cursor: pointer;
    margin-top: 8px;
}
a.alertAnch {
    width: 35px;
    display: inline-block;
}
.alert {
    color: #fb6602;
    font-size: 10px;
    font-family: "Arial Bold";
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    border: 0
}
.alert.blue {
    color: #00a5dd
}

#oodRecActRow{padding-left:25px;color:#EC6F00;cursor:pointer;}

.oodo {color:#EC6F00;}

.info {
    color: #333;
    font-size: 12px;
    font-family: "FaktConPro-Medium";
    margin-bottom: 10px
}
.date {
    display: inline-block;
    bottom: 10px;
    font: normal 14px "FaktPro-Medium";
    color: #9baab2;
}
.value {
    right: 15px;
    bottom: 10px;
    display: inline-block;
    color: black;
    font-size: 15px;
    font-family: "FaktPro-Bold";
    margin-left: 22px
}
.act-now {
    position: absolute;
    bottom: 10px;
    color: #067b9c;
    display: block;
    margin-top: 7px;
    font-family: "FaktConPro-Medium";
    text-decoration: none;
    text-transform: uppercase
}
.slick-prev:before {
    font-family: "icomoon"!important;
    content: "\e603"!important
}
.slick-next:before {
    font-family: "icomoon"!important;
    content: "\e604"!important
}
.height-slider {
    position: absolute;
    right: -50px;
    bottom: -25px;
    padding: 5px 10px;
    min-height: 38px;
    min-width: 38px;
    max-height: 38px;
    max-width: 38px;
    background-color: #38505d;
    cursor: n-resize
}
.height-slider .glyphicon {
    position: relative;
    top: 4px;
    font-size: 20px;
    color: #fff;
}
.body-container {
    background: #fff;
    padding: 30px 20px
}
.body-container h2 {
    font-size: 24px
}
.form-group {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
    width: 70%;
    text-align: right;
}
.form-group>* {
    display: inline-block
}
.form-group>input {
    width: 60%;
    line-height: 35px
}
.create-growth-btn {
    position: relative;
    top: 2px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold
}
.icon-filter {
    position: relative;
    left: 5px;
    font-size: 20px
}
.input-group-addon-search {
    margin-left: -5px;
    padding: 3px 10px;
    background-color: #277c97!important;
    border-radius: 0 5px 5px 0;
    transition: all .3s ease;
    height: 34px;
    display: inline-block;
}
.input-group-addon-search>span {
    color: #fff;
    font-size: 14px;
    height: 20px
}
.input-group-addon-search:hover {
    transition: all .3s ease;
    background-color: #319dc0!important
}
.label-default {
    background-color: #8698a1
}
.label {
    position: relative;
    top: -3px;
    padding: .4em .4em .2em;
    font-size: 10px;
    font-weight: normal;
}
.dropdown-inverse {
    color: #fff;
    background-color: #38505d;
    z-index: 9999;
    text-align: left
}
.dropdown-inverse>li {
    z-index: 9999
}
.dropdown-inverse>li>a {
    color: #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}
.dropdown-inverse>li>a:hover {
    color: #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #067b9c
}
/*updated oppty filter */

#hme-opty-prev-rec-set, #hme-opty-next-rec-set {
    display: none;
}

.renewal {background-color:#5B686F;}
.growth {background-color:#CBCBCB;color:#000;border:1px solid #919191;}


.oppty-header {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    padding: 4px 0;
}
.create_oppty_btn {
    padding: 3px 18% 1px;
    font-weight: normal;
    background-color: #277c97;
}
.create_oppty_btn:hover {
    background-color: #319dc0;
}
#cont-link{ 
    cursor: pointer;
    float: right;
    font-size: 42px;
    color: #2F7C9D;
    text-shadow: 2px 0px 4px rgba(0,0,0,.4);
    position: relative;
    top: -6px;
}
#cont-link:hover{color:#319dc0;}

.opportunities-search-section {
    display: inline-block;
    padding: 4px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: -webkit-linear-gradient(#fff, rgba(0, 0, 0, 0.05));
    background: linear-gradient(#fff, rgba(0, 0, 0, 0.05));
    text-decoration: none;
    vertical-align: top;
    width: 195px;
    float:left;
    text-align:left;
}
.opportunities-search-section .icon-filter {
    font-size: 20px;
    text-decoration: none;
}
.opportunities-search-section .icon-filter:hover {
    text-decoration: none;
}
.opportunities-search-section .caret {
    margin: 8px 0 0;
    border-top: 8px solid!important;
    border-right: 7px solid transparent!important;
    border-left: 7px solid transparent!important;
    float: right;
}
.opportunities-search-section .dropdown-menu {
    position: absolute;
    right: -5px;
    left: auto;
}
.opportunities-search-section .menu-item {
    display: inline-block;
    width:70%;
    font-family: FaktConPro-Medium;
    text-decoration: none;
}
.opportunities-search-section .menu-item a, .opportunities-search-section a {
    font-size: 14px;
    text-decoration: none;
}
/* end updated oppty filter */
#opp-search-field {
    font-size: 20px;
    padding: 3px 16px 0px;
    width: 405px;
    display: inline-block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    vertical-align: top
}
span#oppty_search_type {
    font-size: 22px;
    vertical-align: text-bottom;
}

span.glyphicon.glyphicon-search {
  color: #fff;
}

.opp-list, .service-list {
    padding: 0;
    list-style: none;
    clear: both
}
.opp-list {
    margin-top: 0;
    position: relative;margin-bottom: 0;
}
.opp-list-container, .service-list, .plan-list {
    background: linear-gradient(to bottom, #f6f6f6 0, white 10%);
    border-top: 1px solid #caced1;
    margin-bottom: 10px;
}
.opp-list-container .empty-list {
    position: absolute;
    font-size: 22px;
    color: #747474;
    text-align: center;
    width: 600px;
    margin: 25px;
}
.opp-list li {
    padding: 10px 0 10px 5px
}
.opp-list li a {
    font-family: 'FaktConPro-SemiBold', sans-serif;
    font-size: 19px
}
.opp-list .info {
    font: normal 17px "FaktPro-Medium";
    color: #404040;
}
.opp-list .currency, .opp-list .currency_code, .opty_ss {
    font: normal 14px "FaktPro-Medium";
    color: #9baab2;
}

span.optylist-flex {margin: 0 8px;}

.opp-list li:nth-child(odd) {
    background: #f6f6f6;
    border-bottom: 1px solid #c3d6df
}
.opp-list li:nth-child(even) {
    background: 0;
    border-bottom: 1px solid #c3d6df
}
.service-list li:nth-child(odd) {
    background: 0;
    border-bottom: 1px solid #c3d6df
}
.service-list li:nth-child(even) {
    background: #F6F6F6;
    border-bottom: 1px solid #c3d6df
}
.opp-list p {
    margin: 2px 0 2px 45px
}
.opp-list .label {
    margin: 4px 7px 0 0
}
.opp-list .icon-GSDalert {
    float: left;
    color: #ff2600;
    font-size: 30px;
    margin-right: 7px
}
.opp-list .icon-allclear {
    float: left;
    color: #c2dd21;
    font-size: 25px;
    padding: 2px;
    margin-left: 1px;
    margin-right: 7px
}

.paging-down-icon {
    top:10px;
}
.paging-up-icon {
    height:auto;
}
.service-list li {
    padding: 10px 0 0 10px
}
.service-list li p {
    font-family: 'FaktPro-Blond', Arial;
    font-size: 16px;
    line-height: 18px
}
.service-list .date {
    font-family: 'FaktConPro-SemiBold', Arial;
    font-size: 15px
}
.service-list a {
    font-family: 'FaktConPro-SemiBold', Arial;
    font-size: 19px
}
.plan-list img {
    max-width: 100%
}
@media(max-width: 767px) {
    .col-md-4: not(: first-child) {
        margin: 51px 0
    }
}
.slick-list {
    height: 150px
}
.slick-disabled {
    opacity: 0
}
.slick-prev, .slick-next {
    width: 40px;
    height: 40px
}
.slick-prev:before, .slick-next:before {
    font-size: 40px;
    padding: 5px;
    background-color: #4a6f80;
    opacity: 1
}
.slick-next {
    position: absolute;
    top: 75px;
    right: -45px
}
.slick-prev {
    position: absolute;
    top: 75px;
    left: -50px
}
.alert-header-thin {
    color: #fff;
    font-family: "FaktConPro-Light"
}
.carousel-slide {
    margin: 0
}
html, body {
    font-family: 'FaktPro-Medium', Arial;
    background-color: #b9d0dc
}
.body-container h2 {
    font-size: 24px!important
}
h2 {
    font-size: 27px
}
h2 .icon-info {
    position: relative;    
    color: #067b9c;
    font-size: 16px;
    padding: 0;
}
h2, h3 {
    font-family: 'FaktConPro-Medium', sans-serif;
    margin-top: 0
}
a {
    color: #067b9c
}
.popover-wide {
    width:500px!important;max-width: 500px;
}
.popover-content {
    font-size: 14px;
}
.alert-badge {
    cursor: pointer;
    position: absolute;
    left: 22px;
    color: #fff;
    margin-top: -2px;
    padding: 2px 7px 0;
    font-size: 12px;
    border-radius: 50%/50%;
    border: 1px solid #fff;
    background-color: #f86502;
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.15)
}
#_swecontent {
    overflow: auto
}
#_sweview {
    padding: 0!important;
    overflow: visible!important
}
#s_sctrl #s_sctrl_tabScreen.ui-tabs ul.ui-tabs-nav li.ui-tabs-active a {
    background-color: #3d758d!important
}
#s_sctrl_tabView {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    background-color: #3d758d!important
}
#_swecontent {
    top: 97px
}
#_swecontent>div {
    padding: 0 0 7px 0
}
#Dashboard {
    margin: 0
}
#_swethreadbar {
    visibility: hidden;
    margin: 0;
    height: 10px
}
.nav-container {
    display: none
}
.calculator {font-family: FaktConPro-Medium, Open Sans, sans-serif; display: inline-block; background-color: #F5F5F5; padding: 10px; border: solid 1px #ddd; width: 100%}

a#GrowthPipeLineManagement {
  font-weight: normal;
  font-size: 14px;
  color: #277c97;
  margin: 0 0 0px 6px;
  cursor: pointer;
}
.flex, .flex-container {
    display: flex;
}
.flexwrap {
    flex-wrap: wrap;
}
.flex-horizontal-clean>* {
    padding: 5px !important;
}
.flex-box {
    background-color: #fff;
    margin: 5px;
    line-height: 150%;
    border: solid 1px #ccc;
    border-radius: 4px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}
.flex>* {
    display: flex;
    justify-content: center
}
.flex.flex-nocenter>* {
    display: flex;
    justify-content: flex-start
}
.flex.flex-bottom>* {
    display: flex;
    justify-content: flex-end
}

.flex-horizontal>* {
    padding-right: 10px;
    flex-direction: column
}
.flex-horizontal.flex-padding-l>* {
    padding-right: 20px
}
.flex-horizontal.padding-0>* {
    padding-right: 0
}
.flex-horizontal>*:last-child {
    padding-right: 0
}
.flex-vertical {
    flex-direction: column
}
.flex-vertical>* {
    padding-bottom: 10px;
    flex-direction: row;
    align-items: center
}
.flex-vertical.padding-0>* {
    padding-bottom: 0
}
.flex-horizontal-graph {
    margin-top: 5px;
    background-color: #CBCBCB;
    color: rgb(51, 51, 51);
    font-size: 1.2em;
    text-align: center;
}
#appExistVal, #oppExistVal, #propExistVal {
    background-color: #81BB66;
    padding: 10px;
    width: 40px;
    min-width: 70px;
}
#nGrowthDeals {
    font-size: 4em;
    color: #72B578;
    background: #fff;
    border: solid 1px #ccc;
    padding: 35px 10px 20px;
    text-align: center;
    font-size: 5em;
    width: 80%;
}
#ytdActuals, #openCV, #growthRequired {
    padding-left: 15px;
}
.flex-vertical>*:last-child {
    padding-bottom: 0
}
.flex-1 {
    flex-grow: 1
}
.font-bold {
    font-weight: 700;
}
.font-m {
    font-size: 1.3em;
}
.font-l {
    font-size: 1.5em!important;
}
.font-xl {
    font-size: 2em;
}
.font-xxl {
    font-size: 3em;
}
.font-s {
    font-size: .9em;
}
.font-xs {
    font-size: .6em;
}
.nowrap {
    white-space: nowrap;
}
input.calc-popup {
    padding: 7px 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
    font-size: 17px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.text-center {
    text-align: center;
}
.ui-dialog-buttonset {
    margin-top: 15px
}
.adjust-plan {
    margin-top: 10px;
}
.inline-block>* {
    display: inline-block;
}
.flex-label {
    width: 40%;
    text-align: left;
    font-size: 1.2em;
}
.flex-row {
    
    border-top: 1px solid #ccc;
    padding: 5px;
}
/*NEW STUFF */

#calcAdjust, #comp-dash {font-size: 15px;}

#goalHolder {
    min-width: 90px; text-align: center; background-color: #72B578;box-shadow: 2px 4px 6px rgba(0,0,0,0.4);
}
#calc_growthNeeded {
    padding: 15px 10px 0px;
    border: solid 1px #ccc;
    background-color: #fff;
    color: #72B578;
    font-size: 5em;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    width: 130px;
    height: 80px;
}
#calcPopup {
    font-family: FaktConPro-Medium, Open Sans, sans-serif;
    display: inline-block;
    background-color: #F5F5F5;
    color: #333;
    padding: 10px;
    border: solid 1px #ddd;
    width: 90%;
    display: none;
}

/*Added by Ravi*/

/*V2 CSS*/
.V2 .flex {
    display: flex;
     display: -webkit-flex;
}

.V2 .flex-row {
    border: 0;
    padding:0;
}

.V2 .flex-row-60 {
    width:  60%
}


.V2 .flex-item {
    width:  100%;
    align-items: center;
    padding: 15px 0 0 30px;
    display:    inline;
}

.V2 .flex-item-thin {
    width:  100%;
    align-items: center;
    padding: 12px 0 0 30px;
    display:    inline;
}

.V2 .flex-item-xl {
    height: 72px;
}

.V2 .flex-item>* {
    padding:0 !important;   
}

.V2 .flex-item>*{
    padding:0;
}

.V2 .calc-header .title {padding: 20px 0 0 30px;}
.calc-header {
    color:  #F8F8F8;
   /* border-top-left-radius: 10px; */
   /* border-top-right-radius: 10px; */
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #3A637D),
    color-stop(0.9, #6390AE)
);
    background-image: -o-linear-gradient(bottom, #3A637D 0%, #6390AE 90%);
    background-image: -moz-linear-gradient(bottom, #3A637D 0%, #6390AE 90%);
    background-image: -webkit-linear-gradient(bottom, #3A637D 0%, #6390AE 90%);
    background-image: -ms-linear-gradient(bottom, #3A637D 0%, #6390AE 90%);
    background-image: linear-gradient(to bottom, #3A637D 0%, #6390AE 90%);

    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
}
.thin-label {font-family: FaktConPro-Thin;font-size:16px}

.wc-box {    width: 250px;
    height: 250px;
    position: relative;
    background-color: #F8F8F8; 
    border-radius: 6px;
    float: right;
    left: -35px;
    top: 15px;  
-webkit-box-shadow: 5px 5px 24px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 24px -8px rgba(0,0,0,0.75);
box-shadow: 5px 5px 24px -8px rgba(0,0,0,0.75);

}
.V2 ::-webkit-input-placeholder {
   color: #4A4A4A;
}

.V2:-moz-placeholder { /* Firefox 18- */
   color: #4A4A4A;  
}

.V2 ::-moz-placeholder {  /* Firefox 19+ */
   color: #4A4A4A;  
}

.V2 :-ms-input-placeholder {  
   color: #4A4A4A;  
}
.V2 #nGrowthDeals::-webkit-input-placeholder {color: #fff;}
.V2 #nGrowthDeals:-moz-placeholder {color: #fff; }
.V2 #nGrowthDeals::-moz-placeholder {color: #fff;}
.V2 #nGrowthDeals:-ms-input-placeholder{color: #fff;}
.V2 #nGrowthDeals{
    color: #fff;
    background: #98A028;
    border: solid 0 #ccc;
    padding: 0px;
    text-align: center;
    font-size: 2.5em;
    width: inherit;
    border-radius:4px;
    }

.V2 .form-group{
    float:initial;
    width: initial;
    text-align: initial;
}

#calcPopup.V2 {
    font-family: FaktConPro-Medium, Open Sans, sans-serif;
    display: inline-block;
    background-color: #FFFFFF;
    color: #4A4A4A;
    padding: 0;
    /*border: solid 1px #ddd;*/
/*    width: 918px!important;
    height: 635px;*/
    /*display: none;*/
    /*margin: 50px 25px; */
    /*border-radius: 10px; */
    /*  border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
}
.V2 .thin-label {font-family: FaktConPro-Light;font-size:16px} 
.V2 label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
}
.V2 .flex-horizontal-graph {
    margin-top: 5px;
    background-color: #CBCBCB;
    color: #4A4A4A;
    font-size: 1.2em;
    text-align: center;
}
.V2 .box {height:40px;width:74px; margin:0 20px 0 0;background-color: #333333; color:#fff;text-align: center;font-size: 22px;border-radius: 4px}
.V2 .box span{vertical-align: middle;top:5px; position:relative;}
.V2 .btn{font-family: FaktConPro-Medium, 'Open Sans', sans-serif; font-size: 16px;background-color:#277c97;color:#fff;border-radius:4px;}


.V2 .progress-bar-calc {
  position: relative;
  height: 200px;
  width: 200px;
  
}

.V2 .progress-bar-calc div {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  left:24px;
}

.V2 .progress-bar-calc div div.inner {
  position: absolute;
  font-family: FaktConPro-Light;
  font-size: 15px;
  line-height: 22px;
  height: 185px;
  width: 185px;
  left: 7.5px;
  top: 7.5px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  color: #4A4A4A;
}

.V2 .progress-bar-calc .background { background-color: #e02222; }

.V2 .progress-bar-calc .rotate {
  clip: rect(0 100px 200px 0);
  background-color: #98A028;
}

.V2 .progress-bar-calc .left {
  clip: rect(0 100px 200px 0);
  opacity: 1;
  background-color: #e02222;
}

.V2 .progress-bar-calc .right {
  clip: rect(0 100px 200px 0);
  transform: rotate(180deg);
  opacity: 0;
  background-color: #98A028;
}
 @keyframes 
toggle {  0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}

/*End of V2 CSS*/


/* V3 Success plan*/
#calcPopup.V3 {border: 0;}

.flex .bigitem {
   /* This will be twice as big as the small item. */
   -webkit-flex: 5 0 0; 
   flex: 5 0 0; 
    justify-content: flex-start;
}
.flex .smallitem {
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
       justify-content: flex-end;
}
.V3 .calc-header {
    margin: -1px;
    -webkit-flex-direction: row
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 15px 30px;
}

.V3 a {color:#82d1f4;text-decoration: none;}
.V3 a:hover {text-decoration: none;color:#fff;}

.flex-justify-btw {justify-content: space-between;}
.flex-justify-around {justify-content: space-around;}
.flex-justify-center {justify-content: center;}
.flex-justify-end {justify-content: flex-end;}
.flex-align-bottom {align-items: flex-end;}
.flex-align-center {align-items: center;}

label.thin-label-v3 {
    margin: 4px 0 0 0;
}
.V3 .box {margin:0 10px 0 0;}

.V3 .box span {
    vertical-align: middle;
    line-height: 1.3;
}

.colm40 {width: 37%;margin:0px 4px 0 0px;justify-content: flex-start;}
.row60, .row50 {height:45px;}
.row60 div, .row50 div {margin-top: 5px;}
.row40 {margin: 0 0 4px 0;}

.colm50 {width: 50%;text-align: right;margin:0px 0 0 4px;display: inline-block;}
.colm60 {width: 60%;margin:0px 10px 0 4px;}

.flex.flex-align-center.flex-justify-btw.row50 {
    padding: 0 20px 0 19%;
}

.V3 #nGrowthDeals {height:45px;background-color:#98a028;color: #fff;font-family:FaktConPro-Medium;font-size:40px;width: 100%;border-radius: 0;line-height: 1.4;}

.V3 .icon-calendar {font-size:25px}
.V3 #growthRequired, #openCV, #ytdActuals {padding-right: 6px;}
.V3 #prevTarget {margin: 0px 0 5px;border: 1px solid #fff;height: 20px !important;text-align: right;width: 55%;font-size: 1.3em;padding: 8px 4px 4px;}
.V3 #prevTarget.cloak {background-color: #98a028;border: 0 !important;color: #fff !important;}
.V3 #meetPerClose {width: 50px;background-color: #fdfdfd;color:#4A4A4A;text-align: right;}
.V3 #quaterlyCall, .V3 #monthlyCall, .V3 #weeklyCall {margin-left:5px;vertical-align: bottom;}
.V3 #EIP_val, .V3 #GIP_val {min-width: 23%;justify-content: flex-end;}
.msp_retention .colm40 .row40 input{max-width:110px;background-color: #fdfdfd;color:#4A4A4A;display: inline;margin-left: 5px;padding: 3px 5px 0;border-radius: 6px;text-align: right;}

.msp_retention .colm60 .row60 {padding: 0 20% 0 16%;}
.msp_retention .colm60 .row60 div:first-child, .msp_pipeline .colm50 .row50 div:first-child {width: 115px;justify-content: flex-end;}
.msp_pipeline .colm10 {width: 10%;text-align:center;margin:0 10px 0 0;display: inline-block;}
.msp_pipeline .colm10 div {background-color: #98a028;color: #fff;font-weight: 100;font-family: FaktConPro-Normal;padding: 9px 0 0;font-size: 14px;line-height: 1.3;}

/*.msp_retention {margin-top:20px;}*/
.msp_retention, .msp_pipeline, .msp_goals {padding: 25px;}
.divider-border {border-bottom: 1px solid #979797;margin: 0 35px 0 25px;}


/* V3 end*/


.list-container .icon-GSDeventalert {
    position: relative;
    float: right;
    margin: -1px 20px 0 2px
}
.list-container .row:before {
    content: "";
    position: absolute;
    top: inherit;
    right: 10px;
    margin-top: -5px;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #fff #5294a5;
    box-shadow: -2px 1px 2px 0 rgba(0, 0, 0, 0.15), -2px 3px 2px 0 rgba(0, 0, 0, 0.15);
    border-color: white #f9f9f9!important
}
.company-name {
    font-size: 18px;
    max-width: 100%;
    max-height: 25px;
    font-family: "FaktConPro-Bold";
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase
}
.company-name a {
    color: black!important
}
.action-heading {
    font: normal 15px"FaktConPro-SemiBold";
    position: relative;
    float: right;
    margin: 5px 8px 0 0
}
.action-date, .action-value {
    position: relative!important;
    top: 0!important;
    text-align: center;
    color: #8598a2;
    font-size: 13px;
    font-family: "FaktPro-Medium"
}
.action-date span, .action-value span {
    margin: 0 5px
}
.list-container {
    position: relative;
    
    margin-top: 20px
}
.list-container input[type="checkbox"] {
    border: 1px solid #fff;
    border-radius: 2px;
    content: "\00a0";
    display: inline-block;
    font: 20px sans-serif;
    margin: 0 3px 3px 3px;
    padding: 0;
    vertical-align: top;
    width: 22px;
    height: 22px;
    float: left;
}
.list-container .title {
    color: #619cb4 !important;
    padding-top: 3px;
    font: normal 18px "FaktConPro-Light";
    margin-left: 5px;
}
.list-container .company-name {
    margin-right: 10px;
    padding-left: 10px!important;
    font-size: 17px;
    font-family: "FaktConPro-SemiBold";
    text-transform: uppercase
}
.list-container .row:first-child {
    margin-top: 0
}
.list-container .row:last-child {
    margin-bottom: 0
}
.list-container .row {
    border: 1px solid #efefef;
    border-top: 0;
    margin: 4px 0;
    padding: 5px 3px 2px 3px;
    background-color: #fff;
    vertical-align: middle!important;
    display: inline-b;
}
.feature-section {
    max-height: 306px;
    min-height: 85px;
    padding-top: 15px;
    background: #68a2b9;
    background: -webkit-linear-gradient(#4d8b9b, #68a2b9);
    background: linear-gradient(#4d8b9b, #68a2b9);
    box-shadow: inset 0 -15px 5px 0 rgba(0, 0, 0, 0.025);
    min-height: 85px
}
.feature-section .container {
    margin-bottom: 20px;
}
.carousel-container {
    padding: 20px 0 30px;
    height: 225px
}
.event-icon {
    color: black;
    position: relative;
    margin-right: 5px;
    padding: 2px 5px;
    background-color: #9498A2;
}
.event-icon::before {
    color: #fff
}
.event-icon.aa90 {
    background-color: #fa7f15
}
.event-icon.act {
    background-color: #f5662f
}
.event-icon.kickoff {
    background-color: #f4bc38
}
.event-icon.mid-year {
    background-color: #ffb24a
}
.alert-header {
    color: #fff;
    margin-left: 5px;
    margin-bottom: -15px
}
.modal-alert-header{
    padding-bottom: 5px;
    font-size: 21px;
}
a {
    color: #067b9c;
}
.feature-section .col-md-12 {
    padding: 0 !important;
}
.list-container {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    width: 100%
}
.list-container::-webkit-scrollbar {
    width: 12px
}
.list-container::-webkit-scrollbar-track {
    background-color: #bad0db
}
.list-container::-webkit-scrollbar-thumb {
    background-color: #33515c
}
.list-container::-webkit-scrollbar-thumb:hover {
    background-color: #aaa
}
/*Modal Styling */
.modal-body .new, .modal-body .error {width: 94%;text-align: center;}


table.table-default {
  border-collapse: inherit;
}
.white-bg {background-color:#fff;}
.margin-bottom-none {margin-bottom:0;}


/*oppty list styling*/

.onhover-show-pointer {cursor: pointer;}

.create_oppty_link {font-size: 18px;color: #277c97;display: inline-block;position: absolute;padding: 7px;}

#hme-opty-next-rec-set{border-top: 3px solid rgba(184, 184, 184, 0.17);display:inline}
#hme-opty-prev-rec-set{border-bottom:3px solid rgba(184, 184, 184, 0.17); display:inline;}

/*.paging-up-icon {
    color: #067b9c;
    font-weight: bold;
    text-align: center;
    width: 100%;
    vertical-align: bottom;
    height: 16px;
}
.paging-down-icon {
    color: #067b9c;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 24px;
}*/

.ajax-loader td.loadingBox {
    padding:20px;5px;;text-align:center;
}

.bg-warning, .bg-danger {padding:5px;}

/*.paging-off span {color: #CCCFD0}
.paging-on span {color: #067b9c}*/
.leads-link-box {
    background: #F28933;
    border-radius: 3px;
    color: #fff;
    z-index: 999999;
    padding: 2px 17px;
    box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 2px 5px rgba(225,225,225,.3);
    position: relative;
    display: inline-block;
    top: 6px;
    float:right;
    height: 31px;
    font: normal 15px "FaktPro-Medium";
    line-height : 2em;
    cursor: pointer;
}
.ui-datepicker {
    z-index: 1051 !important;    
}
.ui-datepicker-trigger {
    position: fixed !important;
    margin: 7px 0 0 -24px !important;
}
.btn-leads{
    background-color: #fff;
    color: #F28933;
    font-size: 14px;
    border: 1px solid #F28933;
    float: right;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font: 100 13px FaktPro-Medium;
    padding:0 0 0 6px !important;

}
.btn-leads .badge{
    background-color: #F28933!important;
    color: #fff!important;
    padding: 8px;
    margin-left: 5px;
    margin-right: 0;
    top: 0!important;
    border-radius: 0 4px 4px 0;
        min-width: 30px;
}

.btn-leads:hover{
    transition: color .3s ease;
    border:1px solid #8F4000;
    color: #8F4000;
}
.btn-leads:hover .badge{
    background-color:#8F4000!important;  
    transition: color .3s ease;
}

#gsphome-OODopties-counter, #gotoVP {
    background-color: #f28933;
    border: 1px solid #f28933;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    padding: 6px 6px 4px;
    display: inline;
    margin-left: 167px;
    color: #fff;
    font: 100 13px FaktPro-Medium;
}

/*common modal styling*/
.ui-widget-overlay {
background: #000;
opacity: .7;
filter: Alpha(Opacity=30);
}
.ui-dialog-titlebar-close {
    background: url('../../../images/btn_aplt_hide_0.gif');
    border: none;
    background-repeat: no-repeat;
    float: right;
    margin-top:10px;
    position:relative;
}
.ui-dialog-titlebar{
    background:none;
    border:none;
    border-bottom:1px solid #DFDFDF;
}
.ui-dialog-buttonset{
    float:left;
    width:99%;
    border-top: 1px solid #e5e5e5;
    margin-left: 0px;
    padding:5px;
}
.modal-emulated-dialog-footer{border: 0;margin-top: 20px;}
.modal-emulated-dialog-buttons{padding: 8px 25px 5px !important;  font-size: 18px !important;  margin: 0 3px !important;}

.form-group .add-new {
    border-top: 1px solid #277c97;
}
.btn-primary, .btn-cancel, .btn-submit, .btn-default, .btn-primary:hover, .btn-cancel:hover, .btn-submit:hover, .btn-default:hover {
    color: #ffffff;
    border: none;
}
.btn-primary {
    background-color: #067b9c;
}
.btn-cancel {
    background-color: #8598a2;
}
.btn-default {
    background-color: #c9ccd0;
}
.btn-submit {
    background-color: #287c96;
}
/*common modal styling*/

/*opty-list-flex-start*/
.flex-colm-opty-alertBox {width: 35px}
.opty-title-sect {display:flex;justify-content:space-between;height: 22px;margin: 0 0 5px 0;}
.opty-detail-sect {height:17px;}
/*opty-list-flex-end*/