@import "../Includes";

@mixin Box() {
	.box {
		border: solid 1px $boxBorder;
		border-radius: 10px;

		> :first-child {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		> :last-child {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		&.box-badge {
			min-height: 15px;
			min-width: 15px;
		}

		&.box-border-none {
			border-width: 0;
		}

		&.box-radius-s {
			border-radius: 5px;
		}

		&.box-radius-xs {
			border-radius: 3px;
		}

		&.box-radius-xxs {
			border-radius: 2px;
		}

		&.box-radius-none {
			border-radius: 0;
		}

		&.box-radius-top-none {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		&.box-radius-bottom-none {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		> .box-header {
			padding: 8px 10px 6px;
			border-bottom: solid 2px $pageBackground;
		}

		> .box-footer {
			padding: 8px 12px;
			border-top: solid 2px $pageBackground;
		}

		&.box-dividers-s {
			> .box-header {
				border-bottom-width: 1px;
			}

			> .box-footer {
				border-top-width: 1px;
			}
		}

		&.box-dividers-none {
			> .box-header {
				border-bottom-width: 0;
				//padding-bottom: 0;
			}

			> .box-footer {
				border-top-width: 0;
			}
		}
	}

	.border-bottom-radius {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}
